<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

	<div class="results">	

		<ul class="list"> 
			<h2>Let's Get Coffee!</h2>
			<% @founded.businesses.each do |shops|%>
				<li>
	        Name: <a href="<%= shops.url %>">
	        <%= shops.name %></a>
	        <br>
	        Address: <%= shops.location.display_address[0] %><br>
	        <br>
	        <%end%>
	    	</li>
			    <%= link_to '<button type="button">Search Again</button>'.html_safe, root_path %>
		</ul>
	</div>	









