body {
	font-family: 'Rokkitt', serif;
	color: white;
}

h1 {
	font-size: 350%;
}

.searchtag {
	font-size: 200%;
}

body {
	background: url(http://i.imgur.com/T6Pwqxv.png)no-repeat ;
	background-size: cover;
	background-attachment: fixed;
}

#location {
	width: 15em;
	height: 2em;
}

input {
	width: 6em;
	height:6em;
}

.list {
	font-size: 1.2em;
	list-style-type: none;
}

.header {
	color: brown;
	padding: 1em;
	background-color:rgba(254, 228, 170, 0.7);	
	border-radius: 15px;
	font-family: 'Rokkitt', serif;
	margin-left: 4em;
	height: 16em;
	width: 35em;
	text-align: left;
}

.results {
	color: brown;
	background-color:rgba(254, 228, 170, 0.7);	
	border-radius: 15px;
	font-family: 'Rokkitt', serif;
	margin-left: 4em;
	height: 110%;
	width: 25em;
	text-align: left;
}


a {
	color: #723E16;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Rokkitt', serif;
	font-size:18px;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}

button:active {
	position:relative;
	top:1px;
}

@media (max-width:500px) {
	h1 {
		font-size: 200%;
	}

	label {
		font-size: 70%;
	}
	.header {
		width:50%;
		font-size: 90%;
		background-size: 90%;

	}

	.results {
		font-size: 80%;
	}

}









